version: '3.8'
services:
  frontend:
    build:
      context: .
      dockerfile: client/Dockerfile
    ports:
      - "5173:5173"
    environment:
      - NODE_ENV=development
    command: ["pnpm", "run", "dev", "--", "--host", "0.0.0.0"]
    volumes:
      - ./shared:/app/shared

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "9000:8000"
    volumes:
      - ./backend:/app
      - ./shared:/app/shared
    environment:
      - DATABASE_URL=sqlite:///app/db.sqlite3
    command: ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8000"]
